/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.container-fluid {
    padding: 0;
}

/* HEADER */
div {
    background-color: rgb(129, 0, 0);
}

.navbar {
    padding: 0;
}

.logo {
    width: 50px;
    padding: 0.2rem;
}

/* FOOTER */
.footer {
    justify-content: center;
    background-color: rgb(129, 0, 0);
    align-items: end;
    padding: 0.2rem;
    position: absolute;
    bottom: 0px;
    color: black;

}

.footer h5 {
    font-weight: bold;
}

.footer a {
    text-decoration: none;
}

.footer a img {
    width: 50px;
    margin: 0.1rem;
}
